<ion-header>
  <ion-toolbar>
    <ion-title>GIS Portal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card" *ngFor="let d of data" (click)="gotoMap(d);">
    <!-- <ion-img src="/assets/banner.jpg"></ion-img> -->
    <iframe [src]="d.url | safe" frameborder="0"></iframe>
    <ion-card-header>
      <ion-card-subtitle>{{d.code}}</ion-card-subtitle>
      <ion-card-title>{{d.title}}</ion-card-title>
      <!-- <ion-button expand="block" (click)="gotoMap(d);" color="primary">{{d.title}}</ion-button> -->
    </ion-card-header>
    <ion-card-content>
      <p>{{d.description}}</p>
    </ion-card-content>
  </ion-card>
  
</ion-content>
