// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~admin-lte/plugins/font-awesome/css/font-awesome.min.css';
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import '~admin-lte/dist/css/adminlte.min.css';
@import '~admin-lte/plugins/iCheck/flat/blue.css';
@import '~admin-lte/plugins/morris/morris.css';
@import '~admin-lte/plugins/jvectormap/jquery-jvectormap-1.2.2.css';
@import '~admin-lte/plugins/datepicker/datepicker3.css';
@import '~admin-lte/plugins/daterangepicker/daterangepicker-bs3.css';
@import '~admin-lte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css';

